
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{

    font-family: 'Poppins';
    -webkit-text-fill-color: initial;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
display: none;
   
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
   
}
.TextField-without-height fieldset{
   height:"60px";
}
.TextField-without-border-radius fieldset{
    border-radius: 50px;
    height:53px;
    
  }
  .TextField :hover fieldset {
    border-color: 'white',
  }
  input[type=password]::-ms-reveal,
  input[type=password]::-ms-clear {
    display: none;
  }
/* #background{
   
    background-repeat: no-repeat;
    width: 700;
    height: 700;
    background-color: aqua;
} */
.avatar{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    
  }
  .slick-list {
    padding-top: 20px!important;

  }


  .slick-next {
    background: url('../img/slidearrow.png') center center no-repeat!important;
  background-size: 70px!important;
  background-color: #00000029!important;
  background-position: center;
}
 
.slick-prev:before{
    font-size: 30px !important;
    display: none;
}
.slick-next:before {
    font-size: 30px !important;
    display: none;

}
#user{
  -webkit-text-fill-color: #324D70;

}
html,body{
  width: 100%; 
  margin: 0px;
  padding: 0px;
  height:100vh;
}
.login_img{
  display: grid;
    place-items: start ; 
}

@media screen and (max-width:1200px) {
  .login_img{
    display: grid;
    place-items: center; 
  }
}